<div id="daily" v-if="state">

	<div id="daily-shadow-box" @click="closeSkuDetail()"></div>

	<div id="daily-content-box">
		<div id="daily-content-title-box">
			<div style="width: 50%;display: flex;justify-content: space-between;margin-left: 14px;">
				<div class="title-tag-class">总库存: {{currentExtra['cost_amount']}}</div>
				<div class="title-tag-class">牌价: {{currentExtra['brand_price']}}</div>
				<div class="title-tag-class">成本折扣: {{currentExtra['cost_zhekou']}}</div>
				<div class="title-tag-class">零售毛利: {{currentExtra['maori_rate']}}</div>
			</div>
			<div style="width: 50%;display:flex;justify-content: flex-end;align-items: center;margin-right: 14px;">	
				<div class="title-tag-class">日报最新数据日期: {{lastDate}}</div>
			</div>
			
		</div>
		<div id="daily-content-core-box">

			<div style="display: flex;width: 100%;">
				<div 
					v-for="(children,type) in types"
					style="display: flex;height:50px;flex-direction: column;"
					:class="getTypeClass(type)"
				>
					<div 
						style="width: 100%;display: flex;justify-content: center;align-items: center;font-size:14px;font-weight: bold;"
						:class="type=='日期'?'date-column-font-class':'type-column-font-class'"
					>{{type}}</div>

					<div 
						style="width: 100%;height:25px;display: flex;" 
						v-if="type !== '日期'"
					>
						<div 
							v-for="opt in children"
							:class="getChannelClass(type)"
						>
							<span style="">{{opt}}</span>
						</div>
					</div>
				</div>
			</div>

			
			<div 
				style="width: 100%;display: flex;"
				v-for="(content,date) in currentSku"
			>
				<div style="width: 109px;display: flex;justify-content: center;height:30px;align-items: center;font-size: 14px;font-weight: bold;border-bottom: 1px solid #5D6B77;">
					{{date}}
				</div>

				<div class="sj-content-class">
					{{content['sj_info']['sj_stock']}}
				</div>

				<div class="sj-content-class">
					{{content['sj_info']['sj_sales_count']}}
				</div>

				<div class="sj-content-class">
					{{content['sj_info']['sj_maori_rate']}}
				</div>


				<div class="hj-content-class">
					{{content['hj_info']['hj_stock']}}
				</div>

				<div class="hj-content-class">
					{{content['hj_info']['hj_sales_count']}}
				</div>

				<div class="hj-content-class">
					{{content['hj_info']['hj_maori_rate']}}
				</div>


				<div class="gld-content-class">
					{{content['gld_info']['gld_sales_count']}}
				</div>

				<div class="gld-content-class">
					{{content['gld_info']['gld_maori_rate']}}
				</div>

				

				<div class="fx-content-class">
					{{content['distribution_info']['distribution']}}
				</div>

				<div class="fx-content-class">
					{{content['distribution_info']['distribution_maori_rate']}}
				</div>				


			</div>

		</div>

	</div>
</div>

<style type="text/css">
	#daily-shadow-box {
		position:fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		z-index:3000;
	}

	#daily-content-title-box {
		width: 100%;
		margin-top: 14px;
		display: flex;
	}

	#daily-content-box{
		position:fixed;
		top:0;
		left:0;
		width: 900px;
		box-shadow: 0px 2px 10px #5D6B77;
		background: #FFFFFF;
		font-weight: bold;
		z-index:9999;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	#daily-content-core-box {
		width: 870px;
		margin-top: 15px;
		margin-bottom:  15px;
		border-top:1px solid #5D6B77;
		border-left:1px solid #5D6B77;
		border-right:1px solid #5D6B77;
	}

	.date-column-font-class {
		height: 100%;
	}

	.type-column-font-class {
		height:25px;
		border-bottom:1px solid #5D6B77;
	}

	.date-title-class {
		width: 110px;
		border-bottom:1px solid #5D6B77;
	}

	.sj-title-class {
		width:222px;
		border-left:1px solid #5D6B77;
		border-bottom:1px solid #5D6B77;
		background:  #F46565;
	}

	.hj-title-class {
		width:222px;
		border-left:1px solid #5D6B77;
		border-bottom:1px solid #5D6B77;
		background:  #6FA6CD;

	}

	.gld-title-class {
		width:158px;
		border-left:1px solid #5D6B77;
		border-bottom:1px solid #5D6B77;
		background:  #00C3B6;


	}

	.fx-title-class {
		width:158px;
		border-left:1px solid #5D6B77;
		border-bottom:1px solid #5D6B77;
		background:  #E9935F;
	}
	
	.sj-content-class{
		width: 74.5px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size:14px;
		border-left:1px solid #5D6B77;
		border-bottom: 1px solid #5D6B77;
		background:  #F46565;

	}

	.hj-content-class{
		width: 74.5px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size:14px;
		border-left:1px solid #5D6B77;
		border-bottom: 1px solid #5D6B77;
		background:  #6FA6CD;

	}

	.gld-content-class{
		width: 79px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size:14px;
		border-left:1px solid #5D6B77;
		border-bottom: 1px solid #5D6B77;
		background:  #00C3B6;

	}

	.fx-content-class{
		width: 79px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size:14px;
		border-left:1px solid #5D6B77;
		border-bottom: 1px solid #5D6B77;
		background:  #E9935F;

	}


	.three-option-class {
		width: 74px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.two-option-class{
		width: 78.5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.title-tag-class {
		border:1px solid #414A52;
		color:#414A52;
		border-radius: 20px;
		padding: 1px 5px 1px 5px;
		font-size: 14px; 
	}

</style>









